@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #4f4f4f url(imagens/bg-senha.jpg) no-repeat fixed center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container {
    background-color: #ffffffe7;
    border: 1px solid #2c2c2cd2;
    border-radius: 10px;
    width: 400px;
    height: 275px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(31, 93, 96);
    margin: 0 10px;
}

#title h1 {
    background-color: #2c2c2cd2;
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.309);
}

#principal {
    padding: 10px 15px;
}

.range{
    appearance: none;
    margin: 15px 0;
    width: 90%;
    height: 20px;
    background-color: #d3d3d3;
    outline: none;
    border-radius: 8px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0d4c50;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.251);
    transition: 0.2s;
    cursor: pointer;
}

.range::-webkit-slider-thumb:active {
    transform: scale(0.9);
}

#tamanho p:nth-child(2) {
    position: relative;
}

#tamanho p:nth-child(2) input {
    margin-right: 5px;
}

#tamanho p output {
    position: absolute;
    top: 15px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #2c2c2c99;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 1px 1px 1px #2c2c2c;
}

button:hover {
    background-color: #2c2c2cd2;
}

#resultado {
    display: none;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    background-color: #0d4c50;
    border-radius: 999px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.283);
    transition: 0.2s;
}

#resultado:hover {
    transform: translateY(-2px)
}

#senha {
    color: white ;
    letter-spacing: 1.1px;
}

#resultado i {
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.664);
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    user-select: none;
    right: 0;
    top: 0;
}

#msg {
    display: none;
    margin-top: 3px;
    text-align: center;
    font-size: 0.95em;
    font-style: italic;
}